.products {
  &-header {
    border-bottom: 1px solid $border;
    margin-bottom: 28px;
  }
  &-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    font-size: 1.2rem;

    h2 {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1.5rem;
    }
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 25px;
  }

  &-item {
    max-width: 135px;
    margin-bottom: 30px;

    img {
      object-fit: cover;
      width: 135px;
      height: 135px;
      border-radius: 5px;
    }

    p {
      font-size: 1.2rem;
      margin: 3px 0;
      padding: 0;
    }
  }

  &-price {
    font-size: 1.5rem;
    font-weight: 700;
  }

  &-price span {
    font-weight: bold;
    color: $accent;
  }
}

@include breakpoint-up(medium) {
  .products {
    &-info {
      padding: 25px 30px;
      font-size: 1.5rem;
    }

    &-item {
      max-width: 200px;

      img {
        width: 200px;
        height: 200px;
      }

      p {
        font-size: 1.5rem;
        margin: 3px 0;
        padding: 0;
      }
    }
  }
}

@include breakpoint-up(large) {
  .products {
    &-info {
      max-width: 1300px;
      padding: 25px 30px;
      margin: 0 auto;
      font-size: 1.8rem;

      h2 {
        font-size: 2rem;
      }
    }

    &-list {
      max-width: 1300px;
      margin: 0 auto;
      justify-content: space-between;
    }

    &-item {
      max-width: 300px;
      &:not(:nth-last-child(-n + 3)) {
        margin-bottom: 65px;
      }

      &:not(:nth-child(3n)) {
        margin-right: 35px;
      }

      img {
        width: 300px;
        height: 300px;
      }

      p {
        font-size: 2rem;
      }
    }

    &-price {
      font-size: 2.5rem;
    }
  }
}
